@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. KHAI BÁO BIẾN CHO LIGHT MODE (Mặc định) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #22c55e;
  --card: #f3f4f6; /* Tương đương neutral-100 của Tailwind */
  --border: #e5e7eb;
  --muted-foreground: #71717a;
  --accent: #ffd700;
  --on-primary: #ffffff;

  /* Font */
  --font-inter: 'Inter_400Regular';
  --font-inter-bold: 'Inter_700Bold';
}

/* 2. GHI ĐÈ BIẾN CHO DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #22c55e;

    --card: #171717; /* Tương đương neutral-900 của Tailwind */
    --border: #262626;
    --muted-foreground: #a1a1aa;
    --accent: #facc15; /* Vàng sáng hơn chút cho Dark mode */
    --on-primary: #000000;
  }
}

